body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #000000, #ce0000);
  font-family: Arial, sans-serif;
}

.calculator {
  background: #fff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
  width: 260px;
  text-align: center;
}

.calculator input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 18px;
  text-align: center;
  font-size: 16px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.buttons button {
  background-color: #720000;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.buttons button:hover {
  background-color: #000000;
}
